$coffeewhite: #fff4e6;
$brown: #673A00;
$orange:  #e78200;
$darkorange: #F44B0C;
$lightbrown: #804800;


.creatAccountBox {
    border: solid $orange 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70vw;
    margin: 3vw;
    padding: 5vw;
    border-radius: 10px;
    background: $coffeewhite;
    box-shadow: 1px 1px 7px 0px rgba(194, 194, 194, 0.37);
}

.createAcntWrapper1 {
    border: solid green 1px;
}

.createAcntWrapper2 {
    border: solid green 1px;
}

.createAcntWrapper3 {
    border: solid green 1px;
}

// h3 {
// 	color: $orange;
//     text-align: left;
//     font-weight: bold !important;
//     font-size: 1.5vw !important;
// }

// label {
//   display: block;
//   letter-spacing: 4px;
//   // padding-top: 30px;
//   text-align: center;
// }
// label .label-text {
//   margin: 0px;
//   color: $brown;
//   // text-shadow:0px 1px 0px #CFCFCF;
//   cursor: text;
//   font-size: 2vw;
//   // padding-bottom: 1vw;
//   // line-height: 20px;
//   // text-transform: uppercase;
//   -moz-transform: translateY(-3vw);
//   -ms-transform: translateY(-3vw);
//   -webkit-transform: translateY(-3vw);
//   transform: translateY(-3vw);
//   transition: all 0.3s;
// }
// label input {
//   background-color: transparent;
//   border: 0;
//   border-bottom: 2px solid $brown;
//   color: $orange;
//   font-size: 4vw;
//   letter-spacing: -1px;
//   outline: 0;
//   // padding: 5px 0px;
//   text-align: center;
//   transition: all 0.3s;
//   // width: 30vw;
// }
// label input:focus {
//   width: 60vw;
// }
// label input:focus + .label-text {
//   color: $darkorange;
//   margin: 0px;
//   font-size: 2.5vw;
//   -moz-transform: translateY(-6vw);
//   -ms-transform: translateY(-6vw);
//   -webkit-transform: translateY(-6vw);
//   transform: translateY(-6vw);
// }
// label input:valid + .label-text {
//     margin-left: 4vw;
//     font-size: 1.5vw;
//     -moz-transform: translate(-4vw, 0vw);
//     -webkit-transform: translate(-4vw, 0vw);
//     -o-transform: translate(-4vw, 0vw);
//     -ms-transform: translate(-4vw, 0vw);
//     transform: translate(-4vw, 0vw);
//     text-align: left;
// }

// select {
//     background: none !important;
//     outline: none;
//     color: $orange;
//     border: solid $orange 1px;
// }

// textarea {
//     background: none !important; 
//     border: solid $orange 1px;
//     outline: none;
//     width: 40vw; 
//     color: $orange; 
// }

.photoUploadBox {
	// border: solid red 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $brown;
	font-size: 2vw;
}