$coffeewhite: #fff4e6;
$brown: #673A00;
$orange:  #e78200;
$darkorange: #F44B0C;
$lightbrown: #804800;


.createAccountPage {
    // border: solid black 1px;
    width: 95vw;
    display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // flex-flow: row wrap;
    // align-content: flex-end;
    align-items: center;
    justify-content: center;

}
.creatAccountBox {
    border: solid $orange 1px;
    display: flex;
    margin: 3vw;
    padding: 2vw;
    border-radius: 10px;
    background: $coffeewhite;
    box-shadow: 1px 1px 7px 0px rgba(194, 194, 194, 0.37);
}

.createUpperRow {
    // border: solid red 1px;
    display: flex;
    flex-direction: row;
}

.createAcntWrapper1 {
    // border: solid green 1px;
    border-right: solid $lightbrown 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 26vw;
    padding: 1vw;
}

.createAcntWrapper2 {
    // border: solid green 1px;
    border-right: solid $lightbrown 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 26vw;
    padding: 1vw;
}

.createAcntWrapper3 {
    // border: solid green 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 26vw;
    padding: 1vw;   
}

.createButtonWrapper {
    // border: solid green 1px;
    display: flex;
    justify-content: flex-end;
    margin-top: 2vw;
}

.photoUploadBox {
	// border: solid red 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $brown;
	font-size: 2vw;
}



// ================animation==============
.animateDown { 
   -webkit-animation-duration: 2s; 
   animation-duration: 2s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 

}

// ================== media ==================
@media screen and (max-width: 768px){
    h3{
        font-size: 12px !important;
    }
.createUpperRow {
    // border: solid red 1px;
    display: flex;
    flex-direction: column;
    }
.createAcntWrapper1 {
    // border: solid green 1px;
    border-right: none;
    border-bottom: solid $lightbrown 1px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    padding: 1vw;
    }
.createAcntWrapper2 {
    // border: solid green 1px;
    border-right: none;
    border-bottom: solid $lightbrown 1px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    padding: 1vw;
    }
.createAcntWrapper3 {
    // border: solid green 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    padding: 1vw;   
}

}