$coffeewhite: #fff4e6;
$brown: #673A00;
$orange:  #e78200;
$darkorange: #F44B0C;



.inviteButtonRow {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.inviteNewContainer {
	display: flex;
	justify-content: center;
	form {
		display: flex;
		flex-direction: column;
		align-items: center;

	}
}

		input {
			margin-bottom: 5px;
			outline: none;
		}

.inviteMyContactsContainer {
	display: flex;
	justify-content: center;
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		input {
			margin-bottom: 5px;
			outline: none;
		}
	}
}


// ============
input {
    transition: .2s linear;
}

input:focus {
    transform: scale(1.01);
}


// ====================
.eventBox {
	border: solid black 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	flex-flow: row wrap;
}


.eventWrapper {
	border: solid $orange 1px;
	border-radius: 10px;
	display: flex;
	padding: 2vw;
	justify-content: center;
	width: 25vw;
	margin: 2vw;
}

.eventPhotoBox {
    border-radius: 10px;
    overflow: hidden;
    width: 10vw;
    height: 10vw;
    display: flex;
    align-items: center;
		img {
			width: 100%;
    		height: auto;
	}
}

.eventInfoWrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.eventInfoBox {
// border: solid green 3px;
width: 95vw;
margin-bottom: 2vw;
background: $coffeewhite;
box-shadow: 1px 1px 7px 0px rgba(194, 194, 194, 0.37);
background-size: cover;



	 .content {
		border: solid green 3px;

	}
		.media {
		display: flex;
		flex-direction: row;

	}
	// 	.media-left {
	// 		border: solid green 3px;
	// 		width: 20vh;
	// 		height: 20vh;
	// 		object-fit: cover;
	// 		// margin-left: 7vw;
	// 		.image {
	// 		width: 100%;
 //    		height: auto;
	// 		}
	// }	
}
