$coffeewhite: #fff4e6;
$lightbrown: #995700;
$brown: #673A00;
$orange:  #e78200;
$darkorange: #F44B0C;

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  
  @if $fallback {
    font-size: $fallback;
  }
  
  font-size: $responsive;
}

@mixin responsive-width($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    width: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      width: $max;
    }
  }
  
  @if $fallback {
    width: $fallback;
  }
  
  width: $responsive;
}
// ========================================


.eventInfoTitle {
  @include responsive-font(2.29vw, 15px, 22px);
    color: $orange;
    text-align: left;
    font-weight: bold !important;
} 

.smallEventInfoTitle {
  @include responsive-font(1.88vw, 15px, 18px);
    color: $brown;
    text-align: left;
    font-weight: bold !important;
    border-bottom: solid $lightbrown 1px;
}


.inviteButtonRow {
	display: flex;
	justify-content: center;
	padding: 20px;
}

.inviteNewContainer {
	display: flex;
	justify-content: center;
	form {
		display: flex;
		flex-direction: column;
		align-items: center;

	}
}

		input {
			margin-bottom: 5px;
			outline: none;
		}

.inviteMyContactsContainer {
	display: flex;
	justify-content: center;
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		input {
			margin-bottom: 5px;
			outline: none;
		}
	}
}


// ============
input {
    transition: .2s linear;
}

input:focus {
    transform: scale(1.01);
}


// ====================

.mainInfoWrapper {
	// border: solid black 1px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	// flex-flow: row wrap;
	// align-content: flex-end;
}

.subInfoWrapper {
	// border: solid yellow 1px;
	display: flex;
	// align-items: center;	
}

.eventInfoWrapper {
	// border: solid red 1px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $coffeewhite;
	// width: 40vw;
	margin: 2vw;
	padding: 2vw;
    box-shadow: 1px 1px 7px 0px rgba(194, 194, 194, 0.37);	
}

.eventPhotoBox {

	// border: solid green 1px;
	display: flex;
	// flex-direction: column;
	// align-items: center;
	// margin-right: 1vw;
}

.eventPhoto {
	// border: solid blue 1px;
	border-radius: 100%;
	overflow: hidden;
	width: 10vh;
	height: 10vh;
	display: flex;
	align-items: center;
	background: white;

	object-fit: cover;
	// margin-left: 7vw;

		img {
    		height: 50px;
	}
}


.eventInfobox {
		// border: solid green 3px;
		width: 95vw;
		margin-bottom: 2vw;
		background: $coffeewhite;
		box-shadow: 1px 1px 7px 0px rgba(194, 194, 194, 0.37);
		background-size: cover;
}

.eventCardInfoWrapper {
	margin: 0.3vw;
}


.eventInfo {
	// border: solid yellow 1px;
	border-bottom: solid $lightbrown 1px; 
	display: flex;
	align-items: flex-end;
	justify-content: center;
  	@include responsive-font(2.08vw, 15px, 20px);
	// font-size: 1.7vw;
	// width: 10vmax;
	white-space: nowrap;
	color: $orange;
	// height: 2vw;
}


.eventLabel {
	// border: solid green 1px; 
	display: flex;
	flex-direction: flex-start;
   @include responsive-font(1.35vw, 11px, 13px); 
	// font-size: 1.3vmax;
	color: $brown;
}

// .addressWrapper {
// 	color: $orange;
// 	font-size: 1.3vmax;
// }

.dateTime {
  	@include responsive-font(2.08vw, 15px, 20px);
	// font-size: 1.1vmax;	
}

.eventInfoWrapper1 {
    // border: solid green 1px;
    border-right: solid $lightbrown 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 26vw;
    padding: 1vw;	
}

.eventInfoWrapper2 {
    // border: solid green 1px;
    border-right: solid $lightbrown 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 26vw;
    padding: 1vw;	
}

.eventInfoWrapper3 {
    // border: solid green 1px;
    // border-right: solid $lightbrown 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 26vw;
    padding: 1vw;
}

.eventInfoWrapper4 {
    // border: solid green 1px;
    display: flex;
    justify-content: flex-end;
    margin-top: 2vw;
    width: 80vw;
}

.attending {
	color: green;
	font-weight: bold;
   @include responsive-font(1.35vw, 11px, 13px); 
	// font-size: 1.5vw;
}

.declined {
	color: red;
	font-weight: bold;
   @include responsive-font(1.35vw, 11px, 13px); 
	// font-size: 1.5vw;
}

.maybe {
	color: darken(gold, 20%);
	font-weight: bold;
   @include responsive-font(1.35vw, 11px, 13px); 
	// font-size: 1.5vw;
}

.noResponse {
	color: black;
	font-weight: bold;
   @include responsive-font(1.35vw, 11px, 13px); 
	// font-size: 1.5vw;	
}


.eventDesription {
	border: solid $orange 1px;
	padding: 0.5vw;
	font-size: 1vw;
	color: $orange;
	display: flex;
	// align-items: center;
	// flex-direction: row;
	// flex-flow: row wrap;
   @include responsive-font(1.35vw, 11px, 13px); 
	@include responsive-width(18.75vw, 180px);
	// width: 20vw;
	// overflow: scroll;
}

.contactContainer {
	display: flex;
	justify-content:center;
}

// ================ media ===================
@media screen and (max-width: 768px){
    h3{
        font-size: 12px !important;
    }

.subInfoWrapper {
	// border: solid yellow 1px;
    display: flex;
    flex-direction: column;
	}
.eventInfoWrapper1 {
    // border: solid green 1px;
    border-right: none;
    border-bottom: solid $lightbrown 1px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 61vw;
    padding: 1vw;
    }
.eventInfoWrapper2 {
    // border: solid green 1px;
    border-right: none;
    border-bottom: solid $lightbrown 1px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 61vw;
    padding: 1vw;
    }
.eventInfoWrapper3 {
    // border: solid green 1px;
    border-right: none;
    border-bottom: solid $lightbrown 1px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 61vw;
    padding: 1vw;
    }

.eventInfoWrapper4 {
    // border: solid green 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 61vw;
    padding: 1vw;   
}

}

// ===============animation================
// .animated { 
//    -webkit-animation-duration: 4s; 
//    animation-duration: 4s; 
//    -webkit-animation-fill-mode: both; 
//    animation-fill-mode: both; 
// } 

// @-webkit-keyframes fadeIn { 
//     0% {opacity: 0;} 
//     100% {opacity: 1;} 
// } 
// @keyframes fadeIn { 
//     0% {opacity: 0;} 
//     100% {opacity: 1;} 
// } 
// .fadeIn { 
//     -webkit-animation-name: fadeIn; 
//     animation-name: fadeIn; 
// }


