$coffeewhite: #fff4e6;
$lightbrown: #804800;
$brown: #673A00;
$orange:  #e78200;
$darkorange: #F44B0C;
$green: #84DB2E;

@media screen and (max-width: 750px){
	h3{
		font-size: 16px !important;
	}
	p{
		font-size: 16px !important;
	}
	span{
		font-size: 16px !important;
	}
	.statInfo {
		font-size: 13px !important;
		justify-content: flex-start !important;
		padding-left: 2px;
	}
	.statLabel{
		font-size: 11px !important;
	}
}

@media screen and (max-width: 500px){
	.guestStatsBox{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		overflow: auto;
	}
	.dividerDiv{
		width: 0 !important;
		height: 0 !important;
	}
	.personalInfoWrapper{
		border-bottom: 3px solid $brown;
		margin-bottom: 5px;
		width: 100% !important;
	}

	.jobInfoWrapper{
		padding-left: 0 !important;
	}
}

.guestPage {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.guestStatsBox {
    display: flex;
    justify-content: space-around;
    background: #fff4e6;
    width: 80vw;
    margin: 3vw 0 1vw 0;
    border-radius: 10px;
    padding: 3vw;
    box-shadow: 1px 1px 7px 0px rgba(194, 194, 194, 0.37);
}

.infoHeader{
	margin-bottom: 2vw;
}

.personalInfoWrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.dividerDiv{
    width: 2px;
	background: $brown;
}

.jobInfoWrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
}

.statInfoWrapper {
	margin: 0.3vw;
}

.statInfo {
	border-bottom: solid $lightbrown 1px;
	display: flex;
	align-items: flex-end;
	font-size: 2vw;
	white-space: nowrap;
	color: $orange;
	height: 20px;
	font-weight: bold;
}


.statLabel {
	display: flex;
	flex-direction: flex-start;
	font-size: 1.6vw;
	color: $brown;
}

.chartLabel{
	color: $brown;
}

.animateDown {
   -webkit-animation-duration: 2s;
   animation-duration: 2s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.chartsContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.chartContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	margin: 3vw;
	width: 40vw;
	min-width: 306px;
	min-height: 168px;
}

.p2GCanvas {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}
.tierBox{
    position: absolute;
    top: 42%;
}

.tierValue{
    font-size: 2vw;
	font-weight: bold;
	margin-top: 0.5vw;
	color: $orange;
	text-align: center;
}

.range {
    position: absolute;
    top: 56%;
    left: 39.5%;
    font-size: 1vw;
    font-weight: bold;
	color: $orange;
}

.accredited {
	padding: 1.2vw;
	text-align: center;
	color: white;
	background: $green;
	white-space: nowrap;
	margin-bottom: 1vw;
	border-radius: 1vw;
}

.cashOnHandBox{
    background: white;
    border: 18px solid $green;
    border-radius: 45px;
    width: 60%;
    height: 95%;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
	p{
		color: $orange;
		text-align: center;
		font-size: 3vw;
		font-weight: bold;
	}
}

.detailsBox{
	margin-left: 5px;
}
