$coffeewhite: #fff4e6;
$lightbrown: #995700;
$brown: #673A00;
$orange:  #e78200;
$darkorange: #F44B0C;
$green: #84DB2E;




.guestPage {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.guestStatsBox {
    display: flex;
    justify-content: space-around;
    background: #fff4e6;
    width: 80vw;
    margin: 3vw 0 1vw 0;
    border-radius: 10px;
    padding: 1.5vw 3vw;
    box-shadow: 1px 1px 7px 0px rgba(194, 194, 194, 0.37);
}

.infoHeader{
	margin-bottom: 1vw;
}

.personalInfoWrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.dividerDiv{
    width: 2px;
	background: $brown;
}

.jobInfoWrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    overflow: auto;
}

.statInfoWrapper {
	margin: 0.3vw;
}

.statInfo {
	border-bottom: solid $lightbrown 1px;
	display: flex;
	align-items: flex-end;
	font-size: 1.4vw;
	white-space: nowrap;
	color: $orange;

	height: 20px;
	font-weight: bold;
}


.statLabel {
	display: flex;
	flex-direction: flex-start;
	font-size: 1vw;
	color: $brown;

}

.chartLabel{
	color: $brown;
	font-size: 2vw;
	white-space: nowrap;
}

.tierLabel{
	color: $brown;
	font-size: 1.6vw;
}

// =================animation==============
.animateDown { 
   -webkit-animation-duration: 2s; 
   animation-duration: 2s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 

}

.chartsContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.chartContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	margin: 3vw;
	width: 24vw;
	min-width: 306px;
	min-height: 168px;
}

.p2GCanvas {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    font-size: 2vw;
    color: $orange;	
}
.tierBox{
    position: absolute;
    top: 55%;
}

.tierValue{

    font-size: 1.6vw;
	font-weight: bold;
	// margin-top: 0.8vw;
	color: $orange;
	text-align: center;
}

// .tierValue-alt {
// 	position: absolute;
//     // top: 41%;
//     // left: 42%;
//     font-size: 1.8vw;
// 	font-weight: bold;
// 	margin-top: 2.0vw;
// 	color: $orange;	
// }

.range {
    position: absolute;
    top: 56%;
    left: 39.5%;
    font-size: 1vw;
    font-weight: bold;
	color: $orange;
}

.accredited {
	padding: 1.2vw;
	text-align: center;
	color: white;

	font-size: 1.5vmax;

	background: $green;
	white-space: nowrap;
	margin-bottom: 1vw;
	border-radius: 1vw;
}

.cashOnHandBox{
    background: white;
    border: 18px solid $green;
    border-radius: 45px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    width: 14vw;
    height: 14vw;
    min-width: 160px;
    min-height: 160px;
	p{
		color: $orange;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
	}
}

.detailsBox{
	margin-left: 5px;
}

@media screen and (max-width: 960px){
	.guestPage{
		font-size: 18px !important;
	}
	.tierBox{
		top: 47% !important;
	}
	.chartLabel{
	font-size: 18px !important;	
	}
	.tierLabel{
		font-size: 18px !important;
	}

	.cashOnHandBox p {
		font-size: 18px !important;
	}

	.statInfo {
		font-size: 15px !important;
		justify-content: flex-start !important;
		padding-left: 2px;
	}
	.statLabel{
		font-size: 13px !important;
	}	
}

@media screen and (max-width: 760px){
	.guestPage{
		font-size: 16px !important;
	}
	.cashOnHandBox p {
		font-size: 16px !important;
	}
	.chartLabel{
		font-size: 16px !important;
	}

	.tierLabel {
		font-size: 16px !important;
	}	

	.statInfo {
		font-size: 13px !important;
		justify-content: flex-start !important;
		padding-left: 2px;
	}
	.statLabel{
		font-size: 11px !important;
	}
}

@media screen and (max-width: 520px){
	.chartLabel{
		font-size: 14px !important;
	}

	.tierLabel {
		font-size: 14px !important;
	}	

	.guestStatsBox{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		overflow: auto;
	}
	.dividerDiv{
		width: 0 !important;
		height: 0 !important;
	}
	.personalInfoWrapper{
		border-bottom: 3px solid $brown;
		margin-bottom: 5px;
		width: 100% !important;
	}

	.jobInfoWrapper{
		padding-left: 0 !important;
	}
}
