$coffeewhite: #fff4e6;
$lightbrown: #804800;
$brown: #673A00;
$orange:  #e78200;
$darkorange: #F44B0C;




.guestPage {
	display: flex;
	align-items: center;
	flex-direction: column;	
}

.guestStatsBox {
	// border: solid red 1px;
	display: flex;
	justify-content: space-around;
	background: $coffeewhite;
	width: 70vw;
	margin-top: 3vw;
	margin-bottom: 1vw;
	border-radius: 10px;
	padding: 3vw;
    box-shadow: 1px 1px 7px 0px rgba(194, 194, 194, 0.37);
}

.personalInfoWrapper{
	// border: solid red 1px;
	border-right: solid $brown 1px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 30vw;
}

.jobInfoWrapper {
	// border: solid red 1px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 30vw;	
}

.statInfoWrapper {
	margin: 0.3vw;
}

.statInfo {
	// border: solid yellow 1px;
	border-bottom: solid $lightbrown 1px; 
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-size: 1.2vmax;
	// width: 10vmax;
	white-space: nowrap;
	color: $orange;
	height: 2vw;
}


.statLabel {
	// border: solid green 1px; 
	display: flex;
	flex-direction: flex-start;
	font-size: 0.8vmax;
	color: $brown;

}

.chartLabel{
	color: $brown;
	font-size: 1.2vmax;
	white-space: nowrap;
}

.animateDown { 
   -webkit-animation-duration: 2s; 
   animation-duration: 2s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}

.chartsContainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.chartContainer{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	margin: 3vw;
	width: 40vw;
}

.p2GCanvas {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    font-size: 2vw;
    color: $orange;	
}

.tierValue{
	position: absolute;
    // top: 41%;
    // left: 42%;
    font-size: 1.8vw;
	font-weight: bold;
	margin-top: 0.8vw;
	color: $orange;
}

.tierValue-alt {
	position: absolute;
    // top: 41%;
    // left: 42%;
    font-size: 1.8vw;
	font-weight: bold;
	margin-top: 2.0vw;
	color: $orange;	
}

.range {
    position: absolute;
    top: 56%;
    left: 39.5%;
    font-size: 1vw;
    font-weight: bold;
	color: $orange;
}

.accredited {
	padding: 1.2vw;
	text-align: center;
	color: white;
	background: #86D62C;
	font-size: 1.5vmax;
	white-space: nowrap;
	margin-bottom: 1vw;
}