
$orange:  #e78200;


.animated { 
   -webkit-animation-duration: 2s; 
   animation-duration: 2s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}


.subSection {
	display: flex;
	align-items: center;
	padding-left: 10%;
	height: 21.25vw !important;
	background-color: #f2efdf;
	color: white;
	font-size: 6vw;
	color: $orange;
}

.photo{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 130% auto;
    height: 56.25vw;
    width: 100vw;
    position: relative;
    display: flex;
	justify-content: center;
}

.textDiv {
	display: flex;
	align-items: center;
	justify-content: center;
    background: black;
    opacity: 0.5;
    height: 100%;
    width: 100vw;
	    p {
	   	text-align: center;
	    color: white;
	    font-weight: bold;
	    font-size: 7vw;
	    padding: 20px;
	    }
}

.panel1{
	background-image: url("../images/CoffeePaper.jpg");
}

.panel2{
	background-image: url("../images/CoffeeMeeting.jpg");
}

.panel3{
	background-image: url("../images/CoffeeCups.jpg");
}
