$darkorange: #F44B0C;
$orange:  #e78200;
$coffeewhite: #fff4e6;
$brown: #673A00;

.animated { 
   -webkit-animation-duration: 2s; 
   animation-duration: 2s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}


.subSection {
	display: flex;
	align-items: center;
    justify-content: center;
	height: 21.25vw !important;
	background-color: white;
    border-radius: 30px;
}

.subSectBkg {
    background-color: $coffeewhite;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-bottom: 5%;
    height: 13.1vw !important;
    width: 75vw;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 0px rgba(194, 194, 194, 0.37);
}

.subSectText {
    font-size: 6vw !important;
    color: $orange !important;
}

.photo{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 130% auto;
    height: 56.25vw;
    width: 100vw;
    position: relative;
    display: flex;
	justify-content: center;

}

.textDiv {
	display: flex;
	align-items: center;
	justify-content: center;
    background: black;
    opacity: 0.5;
    height: 100%;
    width: 100vw;
	    p {
	   	text-align: center;
	    color: white;
	    font-weight: bold;
	    font-size: 7vw;
	    padding: 20px;
	    }
}

.panel1{
	background-image: url("../images/CoffeePaper.jpg");
    background-position: 50% -15.5%;
}

.panel2{
	background-image: url("../images/CoffeeMeetingSepia.jpg");
}

.panel3{
	background-image: url("../images/CoffeeCupsSepia.jpg");
}

.textDivMobile {
    display: none;
}

@media screen and (max-width: 700px){
    .photo {
        display: none;
    }

    .panelContainer{
        background-size: 100% auto !important;
        height: 56.25vw;
        width: 100vw;
    }

    .panel1Container {
        background: url("../images/CoffeePaper.jpg");
    }

    .panel2Container {
        background: url("../images/CoffeeMeetingSepia.jpg");
    }

    .panel3Container {
        background-image: url("../images/CoffeeCupsSepia.jpg");
    }

    .textDivMobile{
        display: flex;
        align-items: center;
        justify-content: center;
        background: black;
        opacity: 0.5;
        width: 100vw;
        height: 100%;
            p {
            text-align: center;
            color: white;
            font-weight: bold;
            font-size: 7vw;
            padding: 20px;
            }
    }
}
