$orange:  #f68b39;


.sect {
	height: 100vh !important;
	width: 95vw !important;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	img {
	   width:100%;
        height:100%;
}
}



.subSection {
	height:30vh !important;
	background-color: #ffffff;
	// opacity: 0.3;
	color: white;
	font-size: 6vw;
	color: $orange;
}

.sectOne {
	background-image: url("../images/CoffeePaper.jpg");
}

.sectTwo {
	background-image: url("../images/CoffeeMeeting.jpg");
}

.sectThree {
	background-image: url("../images/CoffeeCups.jpg");
}
