$coffeewhite: #fff4e6;
$lightbrown: #804800;
$brown: #673A00;
$orange:  #e78200;
$darkorange: #F44B0C;


.hostPage {
	// border: solid black 1px;
	display: flex;
	align-items: center;
	flex-direction: column;	
	width: 100vw;	
}

.hostInfoWrapper {
	// border: solid red 1px;
	display: flex;
	justify-content: space-around;
	background: $coffeewhite;
	width: 80vw;
	margin-top: 3vw;
	margin-bottom: 3vw;
	border-radius: 10px;
	padding: 3vw;
    box-shadow: 1px 1px 7px 0px rgba(194, 194, 194, 0.37);
}

.hostPhotoBox {
	// border: solid green 1px;
	display: flex;
	align-items: center;
	// margin-right: 1vw;
}

.hostPhoto {
	// border: solid blue 1px;
	border-radius: 100%;
	overflow: hidden;
	width: 15vh;
	height: 15vh;

	object-fit: cover;
	// margin-left: 7vw;
		img {
			width: 100%;
    		height: auto;
	}
}

.hostDetailsWrapper1 {
	// border: solid blue 1px;
	border-right: solid $brown 1px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 27vw;

}

.hostDetailsWrapper2 {
	// border: solid blue 1px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 27vw;
}

.hostDetailWrapper {
	// border: solid green 1px;
	// display: flex;
	// flex-direction: column;
	margin: 0.3vw;
}

.hostDetailInfo {
	// border: solid yellow 1px;
	border-bottom: solid $lightbrown 1px; 
	display: flex;
	align-items: flex-end;
	justify-content: center;
	font-size: 1.2vmax;
	// width: 10vmax;
	white-space: nowrap;
	color: $orange;
	height: 20px;
}

.hostDetailLabel {
	// border: solid green 1px; 
	display: flex;
	flex-direction: flex-start;
	font-size: 0.8vmax;
	color: $brown;
}

.addressWrapper {
	color: $orange;
	font-size: 1vmax;
}


.searchForm {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.searchInput{
	border: $orange solid 1px;
	width: 40vw;
	height: 32px;
	border-radius: 3px;
	color: $darkorange;
}

.searchButton {
	border: $orange solid 1px;
	// height: 35px;
}
