$coffeewhite: #fff4e6;
$brown: #673A00;
$orange:  #e78200;
$darkorange: #F44B0C;
$lightbrown: #804800;

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  
  @if $fallback {
    font-size: $fallback;
  }
  
  font-size: $responsive;
}

@mixin responsive-width($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    width: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      width: $max;
    }
  }
  
  @if $fallback {
    width: $fallback;
  }
  
  width: $responsive;
}

.singleEventTitle {
  @include responsive-font(1.56vw, 15px, 20px);
    color: $orange;
    text-align: left;
    font-weight: bold !important;
}

.smallSingleEventTitle {
  @include responsive-font(1.4vw, 15px, 18px);
    color: $brown;
    text-align: left;
    font-weight: bold !important;
    border-bottom: solid $lightbrown 1px;
}

.singleEventContainer {
    // border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95vw;

}

.upperRowSignleEventInfo {
  // border: solid green 1px;
  display: flex;
  justify-content: space-around;
}

.singleEventBox {
    // // border: solid red 1px;
    // border: solid $brown 1px;
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    // background: $coffeewhite; 
    // margin-top: 3vw;
    // margin-bottom: 3vw;
    // border-radius: 10px;
    // box-shadow: 1px 1px 7px 0px rgba(194, 194, 194, 0.37);
    // @include responsive-width(61.7vw, 260px);
    // padding: 2.4vw;
}

.singleInfoWrapper {
    // border: solid red 1px;
    border: solid $brown 1px;
    display: flex;
    // align-items: center;
    justify-content: space-around;
    background: $coffeewhite; 
    margin-top: 3vw;
    margin-bottom: 3vw;
    border-radius: 10px;
    box-shadow: 1px 1px 7px 0px rgba(194, 194, 194, 0.37);
    @include responsive-width(61.7vw, 260px);
    padding: 2.4vw;  
    }

.singleEventInfoWrapper1 {
    // border: solid blue 1px;
    // border-right: solid $brown 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    // width: 16vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
}

.singleEventInfoWrapper2 {
    // border: solid blue 1px;
    border-left: solid $lightbrown 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    // width: 16vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.3vw;	
}

.singleEventInfoWrapper3 {
    // border: solid blue 1px;
    border-left: solid $lightbrown 1px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    // width: 16vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.3vw;	
}

.singleEventDesription {
	border: solid $lightbrown 1px;
	padding: 0.5vw;
	// font-size: 1vw;
	color: $orange;
	display: flex;
	// align-items: center;
	// flex-direction: row;
	// flex-flow: row wrap;
    @include responsive-font(1.35vw, 11px, 13px); 
    @include responsive-width(9.3vw, 120px);
	// width: 20vw;
	// overflow: scroll;
}


.RSVPContainer {
  // border: solid black 1px;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;  
  align-content: flex-end;
}

// ============== animation =============
.animateDown { 
   -webkit-animation-duration: 2s; 
   animation-duration: 2s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 

}

// ================== media ==================
@media screen and (max-width: 768px){

.singleEventBox {
    // border: solid red 1px;
    display: flex;
    flex-direction: column;
    }
.singleInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    @include responsive-width(27vw, 260px);   
    }
.singleEventInfoWrapper1 {
    // border: solid red 1px;
    border-bottom: solid $lightbrown 1px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    @include responsive-width(27vw, 260px);
    }
.singleEventInfoWrapper2 {
    // border: solid green 1px;
    border-left: none;
    border-bottom: solid $lightbrown 1px !important;
    align-items: center;
   @include responsive-width(27vw, 260px);
    }
.singleEventInfoWrapper3 {
    // border: solid green 1px;
    border-left: none;
    border-bottom: solid $lightbrown 1px !important;
    align-items: center;
   @include responsive-width(27vw, 260px);
  }

}

