@import "event-create";
@import "event-host";
@import "home";
@import "create-account";
@import "host-page";
@import "guest_stats_page.scss";

$coffeewhite: #fff4e6;
$brown: #673A00;
$orange:  #e78200;
$darkorange: #F44B0C;
$primary: $orange;


@import "bulma";

html {
	background: white;
}

.MainBox {
	// border: solid black 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 95vw;
	margin: 2vw auto;
}

.navBar {
	// border: solid red 1px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 95vw;
}

.Logo {
	width: 250px;
}

.signInForm {
	// border: solid $orange 1px;
	display: flex;
	flex-direction: column;
	background: $coffeewhite;
	padding: 10px;
	margin: 0.6vw;
	border-radius: 10px;
}




.contactContainer {
	display: flex;
	justify-content:center;
}

.media{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
    // border: 1px solid $orange;
    border-radius: 10px;
    margin: 1vw;
   	// background: #F2EFDF; 
}

.eventMedia {
	display: flex;
	flex-direction: column;
	margin: 2vw;
	width: 70vw;
	background-color: $coffeewhite;
    background-image: url("../images/img-noise-900x900.png");
  	box-shadow: 5px 5px 5px 0px #C2C2C2;
	// background: #F2EFDF;
}

.attending {
	color: green;
	font-weight: bold;
}

.declined {
	color: red;
	font-weight: bold;
}

.maybe {
	color: darken(gold, 20%);
	font-weight: bold;
}

.hostPhoto {
	border-radius: 100%;
	overflow: hidden;
}

.animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}


