
$orange:  #f68b39;
$primary: $orange;

@import "bulma";


.MainBox {
	// border: solid black 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 95vw;
	margin: 2vw auto;
}

.navBar {
	// border: solid red 1px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 95vw;
}

.Logo {
	width: 250px;
}

.signInForm {
	border: solid red 1px;
	display: flex;
	flex-direction: column;
}

.hostContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

// .eventContainer{
// 	display: flex;
// 	justify-content:center;
// }

.media{
	padding: 20px;
    border: 1px solid $orange;
    border-radius: 10px;
}

.eventMedia {
	display: flex;
	flex-direction: column;
	margin: 2vw;
	width: 70vw;
	background: #F2EFDF;
}

.attending {
	color: green;
	font-weight: bold;
}

.declined {
	color: red;
	font-weight: bold;
}

.maybe {
	color: darken(gold, 20%);
	font-weight: bold;
}

li {
	&:hover{
		a {
			span{
		color: $orange;				
			}
		}

	}
}

.creatAccountBox {
	border: solid $orange 1px;
	width: 60vw;
	margin: 3vw;
	padding: 1vw;
	border-radius: 10px;
}

.eventInput {
	width: 40vw;
}
// .eventContainer {
// 	border: solid red 1px;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	width: 50vw;
// }