<div class="createEventPage">
  <form ng-submit="vm.createEvent(eventInfo)">

      <div class="createEventForm animated fadeInDown">
        <div class="createEventUpperRow">

                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="{{vm.user.photo_url || 'images/coffeeCupVector.png'}}" alt="photo url">
                  </p>
                </figure>

              <div class="eventWrapper1">
                  <span class="createEventTitle">Event Info:</span>
                  <label>
                    <input type="text"
                           ng-model="eventInfo.title"
                           required>
                    <div class="label-text">Event Name:</div>
                  </label>

                  <label>
                    <input type="text"
                           ng-model="eventInfo.street"
                           required>
                    <div class="label-text">Location Address:</div>
                  </label>

                  <label>
                    <input type="text"
                           ng-model="eventInfo.street_2">
                    <div class="label-text">Location Address-alt:</div>
                  </label>

                  <label>
                    <input type="text"
                           ng-model="eventInfo.city"
                           required>
                    <div class="label-text">Location City:</div>

                  </label>
                  <br>


                    <select name="state"
                            ng-model="eventInfo.state"
                            >
                         <option value="">State:</option>
                          <option value="AL">Alabama</option>
                          <option value="AK">Alaska</option>
                          <option value="AZ">Arizona</option>
                          <option value="AR">Arkansas</option>
                          <option value="CA">California</option>
                          <option value="CO">Colorado</option>
                          <option value="CT">Connecticut</option>
                          <option value="DE">Delaware</option>
                          <option value="DC">District of Columbia</option>
                          <option value="FL">Florida</option>
                          <option value="GA">Georgia</option>
                          <option value="HI">Hawaii</option>
                          <option value="ID">Idaho</option>
                          <option value="IL">Illinois</option>
                          <option value="IN">Indiana</option>
                          <option value="IA">Iowa</option>
                          <option value="KS">Kansas</option>
                          <option value="KY">Kentucky</option>
                          <option value="LA">Louisiana</option>
                          <option value="ME">Maine</option>
                          <option value="MD">Maryland</option>
                          <option value="MA">Massachusetts</option>
                          <option value="MI">Michigan</option>
                          <option value="MN">Minnesota</option>
                          <option value="MS">Mississippi</option>
                          <option value="MO">Missouri</option>
                          <option value="MT">Montana</option>
                          <option value="NE">Nebraska</option>
                          <option value="NV">Nevada</option>
                          <option value="NH">New Hampshire</option>
                          <option value="NJ">New Jersey</option>
                          <option value="NM">New Mexico</option>
                          <option value="NY">New York</option>
                          <option value="NC">North Carolina</option>
                          <option value="ND">North Dakota</option>
                          <option value="OH">Ohio</option>
                          <option value="OK">Oklahoma</option>
                          <option value="OR">Oregon</option>
                          <option value="PA">Pennsylvania</option>
                          <option value="RI">Rhode Island</option>
                          <option value="SC">South Carolina</option>
                          <option value="SD">South Dakota</option>
                          <option value="TN">Tennessee</option>
                          <option value="TX">Texas</option>
                          <option value="UT">Utah</option>
                          <option value="VT">Vermont</option>
                          <option value="VA">Virginia</option>
                          <option value="WA">Washington</option>
                          <option value="WV">West Virginia</option>
                          <option value="WI">Wisconsin</option>
                          <option value="WY">Wyoming</option>
                    </select>

                      <br>
                      <label>
                        <input type="text"
                               ng-model="eventInfo.post_code"
                               required>
                        <div class="label-text">Location Zip:</div>
                      </label>
                    <br>
          </div>

                <div class="eventWrapper2">
                  <span class="createEventTitle">Event Date/Time:</span>
                      <label>
                        <input type="date"
                               ng-model="eventInfo.date"
                               required>
                        <div class="label-text">Event Date:</div>
                      </label>

                      <label>
                        <input type="time"
                               ng-model="eventInfo.start_time"
                               required>
                        <div class="label-text">Start Time:</div>
                      </label>

                      <label>
                        <input type="time"
                               ng-model="eventInfo.end_time"
                               required>
                        <div class="label-text">End Time:</div>
                      </label>

                      <br>
                     <span class="createEventTitle">Event Description:</span>
                        <label>
                          <textarea type="text"
                                     ng-model="eventInfo.message">
                          <div class="label-text"></div>
                        </textarea>
                        </label>
                </div>

          <div class="eventWrapper3">
<!--               <div class="perPlateBox">
                  <p class="control has-addons">
                    <span class="select">
                      <select ng-model="eventInfo.per_plate_currency">
                        <option>$</option>
                        <option>£</option>
                        <option>€</option>
                      </select>
                    </span>
                    <input class="input" type="text" ng-model="eventInfo.per_plate" placeholder="Price Per Plate">
                  </p>
              </div> -->
            <span class="createEventTitle">Donation Info:</span>
                  <label>
                    <input type="number"
                           ng-model="eventInfo.suggested_donation"
                           required>
                    <div class="label-text">Suggested Donation:</div>
                  </label>

                  <label>
                    <input type="number"
                           ng-model="eventInfo.max_size"
                           required>
                    <div class="label-text">Max amount of guests:</div>
                  </label>
                 <br>

                 <br>
                <span class="createEventTitle">Event photo:</span>
                <div class="photoUploadBox">
                    <label class="photo-label"
                           ng-click="vm.uploadImage()"> </label>
                    <a class="button is-primary is-outlined is-small"
                       ng-click="vm.uploadImage()">Upload Image</a>
                </div>
          </div>
<!--         <div class="checkBoxWrapper">

          <input type="checkbox" ng-model="eventInfo.donate">
            Allow Donations


            <input type="checkbox" ng-model="eventInfo.notify_rsvp">
            Notify host of RSVPs

            <input type="checkbox" ng-model="eventInfo.hide_list">
            Hide guest list from other guests

            <input type="checkbox" ng-model="eventInfo.allow_guest_invites">
            Allow guests to invite others
        </div> -->

      </div>
              <div class="eventWrapper4">
                  <button class="button is-primary is-outlined is-small" type="submit">Submit</button>
                  <a><button href="/#/host"
                          class="button is-link is-small">Cancel</button></a>
<!--                 <a class="level-item">
                  <span class="icon is-small"><i class="fa fa-reply"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                </a>
                <a class="level-item">
                  <span class="icon is-small"><i class="fa fa-heart"></i></span>
                </a> -->
              </div>

    </div>
  </form>
</div>
