<div class="eventGuestContainer">
	<div class="singleEventContainer">

		<div class="singleEventBox animateDown fadeInDown">

	      <div class="singleInfoWrapper">
	          <div class="eventPhotoBox">
	            <div class="eventPhoto">
	              <img src="{{vm.event.photo_url  || 'images/coffeeCupVector'}}" alt="Image">
	           </div>
	          </div>

	        <div class="singleEventInfoWrapper1">
	            <span class="singleEventTitle">Event Info:</span>
	              <div class="eventCardInfoWrapper">
	                <div class="eventInfo">
	                {{vm.event.title}}
	                </div>
	                  <span class="eventLabel">Event Name</span>
	              </div>
	           		<br>
	                 <span class="smallSingleEventTitle">Address:</span>
	                 <div class="addressWrapper">
	                   {{vm.event.street}}<br>
	                   {{vm.event.street_2}}<br>
	                   {{vm.event.city}}, {{vm.event.state}} <br>{{vm.event.post_code}} <br>
	                  </div>
					<br>
				  <br>
			</div>

	         <div class="singleEventInfoWrapper2">
	            <span class="singleEventTitle">Event Date/Time:</span>
	              <br>
	              <div class="eventCardInfoWrapper">
	                <div class="eventInfo dateTime">
	                {{vm.event.date}}
	                </div>
	                  <span class="eventLabel">Event Date</span>
	              </div>

	              <div class="eventCardInfoWrapper">
	                <div class="eventInfo dateTime">
	                {{vm.event.start_time}}
	                </div>
	                  <span class="eventLabel">Start Time</span>
	              </div>

	              <div class="eventCardInfoWrapper">
	                <div class="eventInfo dateTime">
	                {{vm.event.end_time}}
	                </div>
	                  <span class="eventLabel">End Time</span>
	              </div>

	              	<br>
	                  <span class="singleEventDesription">{{vm.event.message}}</span>
	          </div>


	         <div class="singleEventInfoWrapper3">
	            <span class="singleEventTitle">RSVPs:</span>
	             <span class="smallSingleEventTitle">{{vm.rsvp.invites}} invited</span>
	             <br>

	              <span class="attending">{{vm.rsvp.yes}} attending</span>
	              <span class="declined">{{vm.rsvp.no}} declined</span>
	              <span class="maybe">{{vm.rsvp.maybe}} maybe</span>
	              <span class="noResponse">{{vm.rsvp.not_responded}} no response</span>
	             <br>

	             <span class="singleEventTitle">Organization:</span>
	              <div class="eventCardInfoWrapper">
	                <div class="eventInfo">
	                {{vm.event.organization}}
	                </div>
	                  <span class="eventLabel">Name</span>
	              </div>

	               <div class="eventCardInfoWrapper">
	                <div class="eventInfo">
	                {{vm.event.category}}
	                </div>
	                  <span class="eventLabel">Category</span>
	              </div>

	          </div>
		</div>
	  </div>
	</div>
	<div class="attendingContainer">
		<div class="RSVPBox">
			<form ng-submit="vm.submitRSVP(egInfo, guestInfo)">
				<p class="small strong">Attending:</p>
			  <p class="control">
			  <label class="radio">
			    <input type="radio" name="question" ng-model="egInfo.rsvp" value="Yes">
			    Yes
			  </label>
			  <label class="radio">
			    <input type="radio" name="question" ng-model="egInfo.rsvp" value="No">
			    No
			  </label>
			  <label class="radio">
			    <input type="radio" name="question" ng-model="egInfo.rsvp" value="Maybe">
			    Maybe
			  </label>
				<label>
					<input type="text" ng-model="egInfo.rsvp_details">
					<div class="label-text">Message to host and/or RSVP details:</div>
				</label>
		  <div class="creatAccountBox animateDown fadeInDown">
		      <div class="createUpperRow">
		<!-- wrapper 1 -->
		        <div class="createAcntWrapper1">
		          <span class="createAccountTitle">Contact Information:</span>
		            <label class="createLabelAnim">
		              <input type="text"
		                     class="createInputAnim" 
		                     ng-model="egInfo.first_name"
		                     required>
		              <div class="label-text">First Name:</div>
		            </label>

		            <label class="createLabelAnim">
		              <input type="text"
		                     class="createInputAnim"
		                     ng-model="egInfo.last_name" required>
		              <div class="label-text">Last Name:</div>
		            </label>

		            <label class="createLabelAnim">
		              <input type="text"
		                     class="createInputAnim"
		                     ng-model="egInfo.email" required>
		              <div class="label-text">Email:</div>
		                   <!--  <span class="help is-danger">This email is invalid</span> -->
		            </label>

		            <label class="createLabelAnim">
		              <input type="password"
		                     class="createInputAnim"
		                     ng-model="egInfo.password" required>
		              <div class="label-text">Password:</div>
		            </label>
		            <br>
		        </div>

		<!-- wrapper 2 -->
		        <div class="createAcntWrapper2">

		            <label class="createLabelAnim">
		              <input type="tel"
		                     class="createInputAnim"
		                     ng-model="egInfo.mobile_number" required>
		              <div class="label-text">Mobile phone:</div>
		            </label>

		            <label class="createLabelAnim">
		              <input type="text"
		                     class="createInputAnim"
		                     ng-model="egInfo.street" required>
		              <div class="label-text">Address:</div>
		            </label>

		           <label class="createLabelAnim">
		              <input type="text"
		                     class="createInputAnim"
		                     ng-model="egInfo.street_2" required>
		              <div class="label-text">Address-alt:</div>
		            </label>

		           <label class="createLabelAnim">
		              <input type="text"
		                     class="createInputAnim"
		                     ng-model="egInfo.city" required>
		              <div class="label-text">City:</div>
		            </label>

		              <br>
		              <select name="state" ng-model="egInfo.state">
		                <option value="">State:</option>
		                <option value="AL">Alabama</option>
		                <option value="AK">Alaska</option>
		                <option value="AZ">Arizona</option>
		                <option value="AR">Arkansas</option>
		                <option value="CA">California</option>
		                <option value="CO">Colorado</option>
		                <option value="CT">Connecticut</option>
		                <option value="DE">Delaware</option>
		                <option value="DC">District of Columbia</option>
		                <option value="FL">Florida</option>
		                <option value="GA">Georgia</option>
		                <option value="HI">Hawaii</option>
		                <option value="ID">Idaho</option>
		                <option value="IL">Illinois</option>
		                <option value="IN">Indiana</option>
		                <option value="IA">Iowa</option>
		                <option value="KS">Kansas</option>
		                <option value="KY">Kentucky</option>
		                <option value="LA">Louisiana</option>
		                <option value="ME">Maine</option>
		                <option value="MD">Maryland</option>
		                <option value="MA">Massachusetts</option>
		                <option value="MI">Michigan</option>
		                <option value="MN">Minnesota</option>
		                <option value="MS">Mississippi</option>
		                <option value="MO">Missouri</option>
		                <option value="MT">Montana</option>
		                <option value="NE">Nebraska</option>
		                <option value="NV">Nevada</option>
		                <option value="NH">New Hampshire</option>
		                <option value="NJ">New Jersey</option>
		                <option value="NM">New Mexico</option>
		                <option value="NY">New York</option>
		                <option value="NC">North Carolina</option>
		                <option value="ND">North Dakota</option>
		                <option value="OH">Ohio</option>
		                <option value="OK">Oklahoma</option>
		                <option value="OR">Oregon</option>
		                <option value="PA">Pennsylvania</option>
		                <option value="RI">Rhode Island</option>
		                <option value="SC">South Carolina</option>
		                <option value="SD">South Dakota</option>
		                <option value="TN">Tennessee</option>
		                <option value="TX">Texas</option>
		                <option value="UT">Utah</option>
		                <option value="VT">Vermont</option>
		                <option value="VA">Virginia</option>
		                <option value="WA">Washington</option>
		                <option value="WV">West Virginia</option>
		                <option value="WI">Wisconsin</option>
		                <option value="WY">Wyoming</option>
		            </select>

		           <label class="createLabelAnim">
		              <input type="text"
		                     class="createInputAnim"
		                     ng-model="egInfo.post_code" required>
		              <div class="label-text">zip:</div>
		            </label>
		            
		        </div>
		    </div>
			<p>
				<button type="submit" class="button is-primary">Submit RSVP</button>
			</p>
			</form>
		</div>
	</div>
	<div class="RSVPContainer">
		<div class="RSVPYesList">
			<p class="attending animated fadeInRight">
				Yes
			</p>
			<div class="contactContainer">
			    <article class="media animated fadeInRight">
			      	<div class="media-content">
				        <div class="content">
				          <p>
				            <strong>John Smith</strong> <small>john@johnsmith.com</small> <small>31m</small>
				            <br>
				            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
				          </p>
				        </div>
			      	</div>
			      	<div class="media-right">
			        	<button class="delete"></button>
			      	</div>
			    </article>
			</div>
		</div>
		<div class="RSVPNoList">
			<p class="declined animated fadeInRight">
			No
			</p>
			<div class="contactContainer">
			    <article class="media animated fadeInRight">
			      	<div class="media-content">
				        <div class="content">
				          <p>
				            <strong>John Smith</strong> <small>john@johnsmith.com</small> <small>31m</small>
				            <br>
				            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
				          </p>
				        </div>
			      	</div>
			      	<div class="media-right">
			        	<button class="delete"></button>
			      	</div>
			    </article>
			</div>
		</div>
		<div class="RSVPMaybeList">
			<p class="maybe animated fadeInRight">
			Maybe
			</p>
			<div class="contactContainer">
			    <article class="media animated fadeInRight">
			      	<div class="media-content">
				        <div class="content">
				          <p>
				            <strong>John Smith</strong> <small>john@johnsmith.com</small> <small>31m</small>
				            <br>
				            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
				          </p>
				        </div>
			      	</div>
			      	<div class="media-right">
			        	<button class="delete"></button>
			      	</div>
			    </article>
			</div>
		</div>
	</div>


</div>
