<div class="homeContainer animated fadeInDown">
	<div class="panelContainer panel1Container">
		<div parallax-background parallax-ratio="0.4" class="panel1 photo">
			<div class="textDiv"><p>Welcome to JavaHuddle</p></div>
		</div>
		<div class="textDivMobile"><p>Welcome to JavaHuddle</p></div>
	</div>
	<div class="subSection">
		<div class="subSectBkg">
		<div class="subSectText">Who we are...</div>
		</div>
	</div>
	<div class="panelContainer panel2Container">
		<div parallax-background parallax-ratio="0.4" class="panel2 photo">
			<div class="textDiv"><p>We bring people together to bring great ideas to life</p></div>
		</div>
		<div class="textDivMobile"><p>We bring people together to bring great ideas to life</p></div>		
	</div>
	<div class="subSection">
		<div class="subSectBkg">
			<div class="subSectText">What we do...</div>
		</div>
	</div>
	<div class="panelContainer panel3Container">
		<div parallax-background parallax-ratio="0.4" class="panel3 photo">
			<div class="textDiv"><p>We provide powerful tools for small nonprofits to gather people and fund their ideas</p></div>
		</div>
		<div class="textDivMobile"><p>We provide powerful tools for small nonprofits to gather people and fund their ideas</p></div>		
	</div>
</div>
