<div class="homeContainer animated fadeInDown">

	<div parallax-background parallax-ratio="0.4" class="panel1 photo">
		<div class="textDiv"><p>Welcome to JavaHuddle</p></div>
	</div>
	<div class="subSection">Who we are...</div>
	<div parallax-background parallax-ratio="0.4" class="panel2 photo">
		<div class="textDiv"><p>We bring people together to bring great ideas to life</p></div>
	</div>
	<div class="subSection">What we do...</div>
	<div parallax-background parallax-ratio="0.4" class="panel3 photo">
		<div class="textDiv"><p>Click Sign In to get started</p></div>
	</div>

</div>
