<div class="hostPage">
  <div class="hostBox" ng-hide="vm.hideHost">
    <div class="hostInfoWrapper animated fadeInDown">
      <div class="hostPhotoBox">
          <div class="hostPhoto">
            <img src="{{vm.user.photo_url  || 'images/coffeeCupVector.png'}}" alt="Image">
          </div>
      </div>
      
          <div class="hostDetailsWrapper1">
             <h3>Personal Info:</h3>

            <div class="hostDetailWrapper">
              <div class="hostDetailInfo">
             {{vm.user.first_name}}    {{vm.user.last_name}}
              </div>
                <span class="hostDetailLabel">Full Name</span>
            </div>

            <div class="hostDetailWrapper">
              <div class="hostDetailInfo">
             {{vm.user.email}}
              </div>
                <span class="hostDetailLabel">Email</span>
            </div>

           <div class="hostDetailWrapper">
              <div class="hostDetailInfo">
             {{vm.user.home_number}}
              </div>
                <span class="hostDetailLabel">Home Phone:</span>
            </div>

           <div class="hostDetailWrapper">
              <div class="hostDetailInfo">
             {{vm.user.mobile_number}}
              </div>
                <span class="hostDetailLabel">Mobile Phone:</span>
            </div>
            <br>

             <h4>Address:</h4>
             <div class="addressWrapper">
               {{vm.user.street}}<br>
               {{vm.user.street_2}}<br>
               {{vm.user.city}}, {{vm.user.state}} {{vm.user.post_code}} <br>
              </div>
          </div>

          <div class="hostDetailsWrapper2">
            <h3>Organization Info:</h3>

               <div class="hostDetailWrapper">
                  <div class="hostDetailInfo">
                 {{vm.user.organization}}
                  </div>
                    <span class="hostDetailLabel">Name:</span>
                </div>

               <div class="hostDetailWrapper">
                  <div class="hostDetailInfo">
                {{vm.user.category}}
                  </div>
                    <span class="hostDetailLabel">Category:</span>
                </div>
         </div>
    </div>
    <div class="tabs is-boxed animated fadeIn">
        <ul>
          <li ng-class="{ 'is-active': vm.active1 }" ng-click="vm.active1=true; vm.active2=false;">
            <a href="/#/host/my-events">
              <span class="icon is-small"><i class="fa fa-calendar" aria-hidden="true"></i></span>
              <span>My Events</span>
            </a>
          </li>
          <li ng-class="{'is-active': vm.active2 }" ng-click="vm.active2=true; vm.active1=false;">
            <a href="/#/host/my-contacts">
              <span class="icon is-small"><i class="fa fa-vm.users" aria-hidden="true"></i></span>
              <span>My Contacts</span>
            </a>
          </li>
          <li>
            <a href="/#/event-create">
              <span class="icon is-small"><i class="fa fa-calendar" aria-hidden="true"></i></i></span>
              <span>Create Event</span>
            </a>
          </li>
        </ul>
    </div>
  </div>
  <div ui-view></div>
</div>
