    <div class="eventContainer">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="http://placehold.it/128x128">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>A Night with Vision City</strong> | <small>Location: Strongbox West</small> | <small>Friday, June 3, 2016: 7pm-9pm</small>
              <br>
              <small>10 invited</small> | <small class="attending">6 attending</small> | <small class="declined">3 declined</small> | <small class="maybe">1 maybe</small>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-reply"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-retweet"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
        <div class="media-right">
          <button class="delete"></button>
        </div>
      </article>    
    </div>
    <div class="eventContainer">
      <article class="media">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="http://placehold.it/128x128">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>A Night with Vision City</strong> | <small>Location: Strongbox West</small> | <small>Friday, June 3, 2016: 7pm-9pm</small>
              <br>
              <small>10 invited</small> | <small class="attending">6 attending</small> | <small class="declined">3 declined</small> | <small class="maybe">1 maybe</small>
              <br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-reply"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-retweet"></i></span>
              </a>
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-heart"></i></span>
              </a>
            </div>
          </nav>
        </div>
        <div class="media-right">
          <button class="delete"></button>
        </div>
      </article>    
    </div>    