    <div class="eventContainer" ng-repeat="event in vm.events">
      <article class="media animated fadeInRight">
        <figure class="media-left">
          <p class="image is-128x128">
            <img src="{{event.photo_url}}" alt="photo url">
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <strong >{{event.title}}</strong> | <small>Location: {{event.street}} {{event.street_2}}, {{event.city}} {{event.state}} {{event.post_code}}</small> |
              <small>{{event.date}} {{event.start_time}} -{{event.end_time}}</small>
              <br>
              <small>10 invited</small> | <small class="attending">6 attending</small> | <small class="declined">3 declined</small> | <small class="maybe">1 maybe</small>
              <br>{{event.message}}
              <p>This event is index: {{vm.events.indexOf(event)}}</p>
          </div>
          <nav class="level">
            <div class="level-left">
              <a class="level-item">
                <span class="icon is-small"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                <span>Send Invites</span>
              </a>
            </div>
          </nav>
        </div>
        <div class="media-right">
          <button class="delete" ng-click="vm.deleteEvent(event.id)"></button>
        </div>
      </article>
    </div>
