<div class="hostContainer">
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-128x128 hostPhoto">
          <img src="{{vm.user.photo_url}}" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{vm.user.first_name}}</strong>
            <strong>{{vm.user.last_name}}</strong>
            <br>
           <small>{{vm.user.email}}</small>
           <br>
           <small>Home Phone: {{vm.user.home_number}}</small>
           <br>
           <small>Mobile Phone: {{vm.user.mobile_number}}</small>
           <br>
           <small>Organization: {{vm.user.organization}}</small>
           <br>
           <small>Category: {{vm.user.category}}</small>
           <br>
           <small>Address:<br>
           1 Infinite Loop {{vm.user.address_id.street}}<br>
           Cupertino{{vm.user.address_id.city}}, CA{{vm.user.address_id.state}} 95014{{vm.user.address_id.post_code}} <br>
           </small>
          </p>
        </div>
      </div>
    </article>
  </div>
  <div class="tabs is-boxed">
    <ul>
      <li ng-class="{ 'is-active': vm.active1 }" ng-click="vm.active1=true; vm.active2=false;">
        <a href="/#/host/my-events">
          <span class="icon is-small"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          <span>My Events</span>
        </a>
      </li>
      <li ng-class="{'is-active': vm.active2 }" ng-click="vm.active2=true; vm.active1=false;">
        <a href="/#/host/my-contacts">
          <span class="icon is-small"><i class="fa fa-vm.users" aria-hidden="true"></i></span>
          <span>My Contacts</span>
        </a>
      </li>
      <li>
        <a href="/#/event-create">
          <span class="icon is-small"><i class="fa fa-calendar" aria-hidden="true"></i></i></span>
          <span>Create Event</span>
        </a>
      </li>
    </ul>
  </div>
  <div ui-view></div>
</div>
