<div class="myContactsContainer">
  <div class="searchForm">
    <form>
      <input class="searchInput" type="text" placeholder="Search for a contact here">
      <button class="button is-primary is-outlined">Search</button>
    </form>
  </div>
  <div class="contactContainer">
    <article class="media animated fadeInRight">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong> <small>john@johnsmith.com</small> <small>31m</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
        </div>
      </div>
      <div class="media-right">
        <button class="delete"></button>
      </div>
    </article>
  </div>
  <div class="contactContainer">
    <article class="media animated fadeInRight">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong> <small>john@johnsmith.com</small> <small>31m</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
        </div>
      </div>
      <div class="media-right">
        <button class="delete"></button>
      </div>
    </article>
  </div>
  <div class="contactContainer">
    <article class="media animated fadeInRight">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong> <small>john@johnsmith.com</small> <small>31m</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
        </div>
      </div>
      <div class="media-right">
        <button class="delete"></button>
      </div>
    </article>
  </div>
</div>