<div class="eventHostContainer">
	<div class="box">
	    <article class="media">
	      <div class="media-left">
	        <figure class="image is-128x128">
	          <img src="{{vm.event.eventInfo.photo_url  || 'images/JavaHuddleLogo.png'}}" alt="Image">
	        </figure>
	      </div>
	      <div class="media-content">
	        <div class="content">
	          <p>
	            <strong>{{vm.event.eventInfo.title}}</strong>
	            <br>
	            <br>
	           <small><strong>Location:</strong> {{vm.event.eventInfo.title}}</small>
	           <br>
	           <small><strong>Address:</strong></small>
	           <br>
	           <small>{{vm.event.eventInfo.street}}</small>
	           <br>
	           <small>{{vm.event.eventInfo.street_2}}</small>
	           <br>
	           <small>{{vm.event.eventInfo.city}}, </small><small>{{vm.event.eventInfo.state}} </small><small>{{vm.event.eventInfo.post_code}}</small>
	           <br>
	           <small><strong>Date and Time:</strong></small>
	           <br>
	           <small>{{vm.event.eventInfo.date}}: {{vm.event.eventInfo.start_time}}-{{vm.event.eventInfo.end_time}}</small>
	           <br>
	           <small><strong>RSVPs:</strong></small>
	          <small>{{vm.event.invites}} invited</small> | <small class="attending">{{vm.event.yes}} attending</small> | <small class="declined">{{vm.event.no}} declined</small> | <small class="maybe">{{vm.event.maybe}} maybe</small> | <small class="not responded">{{vm.event.not_responded}} not responded</small>
	           <br>
	           <small><strong>Organization:</strong> {{vm.event.eventInfo.organization}}</small>
	           <br>
	           <small><strong>Category:</strong> {{vm.event.eventInfo.category}}</small>
	           <br>
	            <small><strong>Event Description:</strong></small>
	            <br>
	            <small>{{vm.event.eventInfo.message}}</small>
	          </p>
	        </div>
	      </div>
				<div class="media-right">
          <button class="delete" ng-click="vm.deleteEvent(event.id)"></button>
        </div>
	    </article>
  	</div>
  	<div class="inviteButtonRow">
  		<button class="Btn button is-primary is-outlined" ng-click="vm.showInviteNew(); vm.hideInviteMyContacts()">
  			Invite New
  		</button>
  		<button class="Btn button is-primary is-outlined" ng-click="vm.showInviteMyContacts(); vm.hideInviteNew()">
  			Invite My Contacts
  		</button>
  	</div>
  	<div class="inviteNewContainer" ng-show="vm.inviteNew">
  		<form ng-submit="vm.sendInvite(guest)">
  			<input ng-model="guest.first_name" type="text" placeholder="First Name" required>
  			<input ng-model="guest.last_name" type="text" placeholder="Last Name" required>
  			<input ng-model="guest.email" placeholder="Email" required>
				<input ng-model="guest.privateMessage" placeholder="Message to this guest" required>
  			<br>
  			<div class="buttonContainer">
  				<button class="Btn button is-primary is-outlined" type="submit">Send Invite</button>
  				<button class="Btn button is-primary is-outlined" ng-click="vm.hideInviteNew()">Cancel</button>
  			</div>
  		</form>
  	</div>
  	<div class="inviteMyContactsContainer" ng-show="vm.inviteMyContacts">
  		<form>
  			<input type="text" placeholder="First Name" required>
  			<input type="text" placeholder="Last Name" required>
  			<button class="Btn button is-primary is-outlined">Send Invite</button>
  			<button class="Btn button is-primary is-outlined" ng-click=vm.hideInviteMyContacts()>Cancel</button>
  		</form>
  	</div>

	<div class="RSVPContainer">
		<div class="RSVPYesList">
			<p class="attending animated fadeInRight">
				Yes
			</p>
			<div class="contactContainer">
			    <article class="media animated fadeInRight">
			      	<div class="media-content">
				        <div class="content">
				          <p>
				            <strong>John Smith</strong> <small>john@johnsmith.com</small> <small>31m</small>
				            <br>
				            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
				          </p>
				        </div>
			      	</div>
			      	<div class="media-right">
			        	<button class="delete"></button>
			      	</div>
			    </article>
			</div>
		</div>
		<div class="RSVPNoList">
			<p class="declined animated fadeInRight">
			No
			</p>
			<div class="contactContainer">
			    <article class="media animated fadeInRight">
			      	<div class="media-content">
				        <div class="content">
				          <p>
				            <strong>John Smith</strong> <small>john@johnsmith.com</small> <small>31m</small>
				            <br>
				            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
				          </p>
				        </div>
			      	</div>
			      	<div class="media-right">
			        	<button class="delete"></button>
			      	</div>
			    </article>
			</div>
		</div>
		<div class="RSVPMaybeList">
			<p class="maybe animated fadeInRight">
			Maybe
			</p>
			<div class="contactContainer">
			    <article class="media animated fadeInRight">
			      	<div class="media-content">
				        <div class="content">
				          <p>
				            <strong>John Smith</strong> <small>john@johnsmith.com</small> <small>31m</small>
				            <br>
				            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
				          </p>
				        </div>
			      	</div>
			      	<div class="media-right">
			        	<button class="delete"></button>
			      	</div>
			    </article>
			</div>
		</div>
	</div>
</div>
