<div class="singleEventContainer">
    <div class="singleEventBox animateDown fadeInDown">
        <div class="singleInfoWrapper">
            <div class="eventPhotoBox">
                <div class="eventPhoto">
                    <img src="{{vm.event.eventInfo.photo_url  || 'images/coffeeCupVector.png'}}" alt="Image">
                </div>
            </div>
            <div class="singleEventInfoWrapper1">
                <span class="singleEventTitle">Event Info:</span>
                <div class="eventCardInfoWrapper">
                    <div class="eventInfo">
                        {{vm.event.eventInfo.title}}
                    </div>
                    <span class="eventLabel">Event Name</span>
                </div>
                <br>
                <span class="smallSingleEventTitle">Address:</span>
                <div class="addressWrapper">
                    {{vm.event.eventInfo.street}}
                    <br> {{vm.event.eventInfo.street_2}}
                    <br> {{vm.event.eventInfo.city}}, {{vm.event.eventInfo.state}}
                    <br>{{vm.event.eventInfo.post_code}}
                    <br>
                </div>
            </div>
            <div class="singleEventInfoWrapper2">
                <span class="singleEventTitle">Event Date/Time:</span>
                <div class="eventCardInfoWrapper">
                    <div class="eventInfo dateTime">
                        {{vm.formatDate(vm.event.eventInfo.date)}}
                    </div>
                    <span class="eventLabel">Event Date</span>
                </div>
                <div class="eventCardInfoWrapper">
                    <div class="eventInfo dateTime">
                        {{vm.getTime(vm.event.eventInfo.start_time)}}
                    </div>
                    <span class="eventLabel">Start Time</span>
                </div>
                <div class="eventCardInfoWrapper">
                    <div class="eventInfo dateTime">
                        {{vm.getTime(vm.event.eventInfo.end_time)}}
                    </div>
                    <span class="eventLabel">End Time</span>
                </div>
                <span class="singleEventDesription">{{vm.event.eventInfo.message}}</span>
            </div>
            <div class="singleEventInfoWrapper3">
                <span class="singleEventTitle">RSVPs:</span>
                <span class="smallSingleEventTitle">{{vm.rsvp.invites}} invited</span>
                <span class="attending">{{vm.rsvp.yes}} attending</span>
                <span class="declined">{{vm.rsvp.no}} declined</span>
                <span class="maybe">{{vm.rsvp.maybe}} maybe</span>
                <span class="noResponse">{{vm.rsvp.not_responded}} no response</span>
                <span class="singleEventTitle">Organization:</span>
                <div class="eventCardInfoWrapper">
                    <div class="eventInfo">
                        {{vm.event.user.organization}}
                    </div>
                    <span class="eventLabel">Name</span>
                </div>
                <div class="eventCardInfoWrapper">
                    <div class="eventInfo">
                        {{vm.event.user.category}}
                    </div>
                    <span class="eventLabel">Category</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="inviteButtonRow">
    <button class="Btn button is-primary is-outlined" ng-click="vm.showInviteNew(); vm.hideInviteMyContacts()">
        Invite New Guest
    </button>
</div>
<div class="inviteNewContainer" ng-show="vm.inviteNew">
    <form ng-submit="vm.sendInvite(guest)">
        <p class="control">
            <input ng-model="guest.first_name" class="input is-primary" type="text" placeholder="First Name" required>
        </p>
        <p class="control">
            <input ng-model="guest.last_name" class="input is-primary" type="text" placeholder="Last Name" required>
        </p>
        <p class="control">
            <input ng-model="guest.email" class="input is-primary" placeholder="Email" required>
        </p>
        <p class="control">
            <input ng-model="guest.privateMessage" class="input is-primary" placeholder="Message to this guest" required>
        </p>
        <br>
        <div class="buttonContainer">
            <button class="Btn button is-primary is-outlined is-small" type="submit">Send Invite</button>
            <button class="Btn button is-primary is-outlined is-small" ng-click="vm.hideInviteNew()">Cancel</button>
        </div>
    </form>
</div>
<div class="inviteMyContactsContainer" ng-show="vm.inviteMyContacts">
    <form>
        <p class="control">
            <input class="input is-primary" type="text" placeholder="First Name">
        </p>
        <p class="control">
            <input class="input is-primary" type="text" placeholder="Last Name">
        </p>
        <button class="Btn button is-primary is-outlined is-small">Send Invite</button>
        <button class="Btn button is-primary is-outlined is-small" ng-click=vm.hideInviteMyContacts()>Cancel</button>
    </form>
</div>
<div class="RSVPContainer">
    <div class="RSVPYesList" ng-repeat="yesGuest in vm.yesGuests track by $index">
        <p class="attending animated fadeInRight">Yes</p>
        <div class="contactContainer">
            <div class="media animated fadeInRight">
                <div class="media-content">
                    <div class="contactCardRSVP">
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{yesGuest.first_name}} {{yesGuest.last_name}}
                            </div>
                            <span class="eventLabel">Name</span>
                        </div>
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{yesGuest.email}}
                            </div>
                            <span class="eventLabel">Email</span>
                        </div>
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{yesGuest.mobile_number}}
                            </div>
                            <span class="eventLabel">Mobile Number:</span>
                        </div>
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{yesGuest.home_number}}
                            </div>
                            <span class="eventLabel">Home Number:</span>
                        </div>
                        <br>
                        <div class="media-right">
                            <button class="Btn button is-primary" ng-click=vm.guestDetails(yesGuest.id)>
                                View Contact Details
                            </button>
                        </div>
                        <button class="delete"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="RSVPNoList" ng-repeat="noGuest in vm.noGuests track by $index">
        <p class="declined animated fadeInRight">No</p>
        <div class="contactContainer">
            <div class="media animated fadeInRight">
                <div class="media-content">
                    <div class="contactCardRSVP">
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{noGuest.first_name}} {{noGuest.last_name}}
                            </div>
                            <span class="eventLabel">Name</span>
                        </div>
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{noGuest.email}}
                            </div>
                            <span class="eventLabel">Email</span>
                        </div>
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{noGuest.mobile_number}}
                            </div>
                            <span class="eventLabel">Mobile Number:</span>
                        </div>
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{noGuest.home_number}}
                            </div>
                            <span class="eventLabel">Home Number:</span>
                        </div>
                        <br>
                        <div class="media-right">
                            <button class="Btn button is-primary" ng-click=vm.guestDetails(noGuest.id)>
                                View Contact Details
                            </button>
                        </div>
                        <button class="delete"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="RSVPMaybeList" ng-repeat="maybeGuest in vm.maybeGuests track by $index">
        <p class="maybe animated fadeInRight">Maybe</p>
        <div class="contactContainer">
            <div class="media animated fadeInRight">
                <div class="media-content">
                    <div class="contactCardRSVP">
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{maybeGuest.first_name}} {{maybeGuest.last_name}}
                            </div>
                            <span class="eventLabel">Name</span>
                        </div>
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{maybeGuest.email}}
                            </div>
                            <span class="eventLabel">Email</span>
                        </div>
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{maybeGuest.mobile_number}}
                            </div>
                            <span class="eventLabel">Mobile Number:</span>
                        </div>
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{maybeGuest.home_number}}
                            </div>
                            <span class="eventLabel">Home Number:</span>
                        </div>
                        <br>
                        <div class="media-right">
                            <button class="Btn button is-primary" ng-click=vm.guestDetails(noGuest.id)>
                                View Contact Details
                            </button>
                        </div>
                        <button class="delete"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="RSVPNotRespondedList" ng-repeat="nrGuest in vm.nrGuests track by $index">
        <p class="notresponded animated fadeInRight">Not Responded</p>
        <div class="contactContainer">
            <div class="media animated fadeInRight">
                <div class="media-content">
                    <div class="contactCardRSVP">
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{nrGuest.first_name}} {{nrGuest.last_name}}
                            </div>
                            <span class="eventLabel">Name</span>
                        </div>
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{nrGuest.email}}
                            </div>
                            <span class="eventLabel">Email</span>
                        </div>
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{nrGuest.mobile_number}}
                            </div>
                            <span class="eventLabel">Mobile Number:</span>
                        </div>
                        <div class="eventCardInfoWrapper">
                            <div class="eventInfo">
                                {{nrGuest.home_number}}
                            </div>
                            <span class="eventLabel">Home Number:</span>
                        </div>
                        <br>
                        <div class="media-right">
                            <button class="Btn button is-primary" ng-click=vm.guestDetails(noGuest.id)>
                                View Contact Details
                            </button>
                        </div>
                        <button class="delete"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>