<div class="myContactsContainer">
  <div class="searchForm">
    <form>
      <input class="searchInput" type="text" placeholder="Search for a contact here">
      <button class="button is-primary is-outlined">Search</button>
    </form>
  </div>

    <div class="contactsBox">
      <div class="contactContainer">
          <div class="media animated fadeInRight">
              <div class="media-content">
                <div class="contactCardRSVP">

                    <div class="eventCardInfoWrapper">
                      <div class="eventInfo">
                      Bill Murray
                      </div>
                        <span class="eventLabel">Name</span>
                    </div>  

                    <div class="eventCardInfoWrapper">
                      <div class="eventInfo">
                      bill@Murray.com
                      </div>
                        <span class="eventLabel">Name</span>
                    </div>

                    <div class="eventCardInfoWrapper">
                      <div class="eventInfo">
                      2d
                      </div>
                        <span class="eventLabel"></span>
                    </div>                    
                  <br>
                    <button class="delete"></button>
                
                </div>
              </div>
          </div>
      </div>
      <div class="contactContainer">
          <div class="media animated fadeInRight">
              <div class="media-content">
                <div class="contactCardRSVP">

                    <div class="eventCardInfoWrapper">
                      <div class="eventInfo">
                      Jennifer Lawrence
                      </div>
                        <span class="eventLabel">Name</span>
                    </div>  

                    <div class="eventCardInfoWrapper">
                      <div class="eventInfo">
                      jenn@fer.com
                      </div>
                        <span class="eventLabel">Name</span>
                    </div>

                    <div class="eventCardInfoWrapper">
                      <div class="eventInfo">
                      31m
                      </div>
                        <span class="eventLabel"></span>
                    </div>                    
                  <br>
                    <button class="delete"></button>
                
                </div>
              </div>
          </div>
      </div>
      <div class="contactContainer">
          <div class="media animated fadeInRight">
              <div class="media-content">
                <div class="contactCardRSVP">

                    <div class="eventCardInfoWrapper">
                      <div class="eventInfo">
                      Louis CK
                      </div>
                        <span class="eventLabel">Name</span>
                    </div>  

                    <div class="eventCardInfoWrapper">
                      <div class="eventInfo">
                      louis@ck.com
                      </div>
                        <span class="eventLabel">Name</span>
                    </div>

                    <div class="eventCardInfoWrapper">
                      <div class="eventInfo">
                      55m
                      </div>
                        <span class="eventLabel"></span>
                    </div>                    
                  <br>
                    <button class="delete"></button>
                
                </div>
              </div>
          </div>
      </div>
      <div class="contactContainer">
          <div class="media animated fadeInRight">
              <div class="media-content">
                <div class="contactCardRSVP">

                    <div class="eventCardInfoWrapper">
                      <div class="eventInfo">
                      John Travolta
                      </div>
                        <span class="eventLabel">Name</span>
                    </div>  

                    <div class="eventCardInfoWrapper">
                      <div class="eventInfo">
                      john@travolta.com
                      </div>
                        <span class="eventLabel">Name</span>
                    </div>

                    <div class="eventCardInfoWrapper">
                      <div class="eventInfo">
                      1d
                      </div>
                        <span class="eventLabel"></span>
                    </div>                    
                  <br>
                    <button class="delete"></button>
                
                </div>
              </div>
          </div>
      </div>
    </div>
</div>