<div class="MainBox">
    <nav class="navBar">
      <img class="Logo" src="images/JavaHuddleLogo.png">
        <div class="btnWrapper">
          <a class="Btn button is-primary is-outlined" href="/#/" ng-click="vm.showLogin()">Sign in</a>
          <a class="Btn button is-primary is-outlined">Create</a> 
	      	<div class="formDiv" ng-show="vm.login">
	      		<form>
	      			<input type="email" placeholder="Email" required>
	      			<input type="password" placeholder="Password" required>
	      			<button>Sign In</button>
	      		</form>
	      	</div>
        </div>        
    </nav>
<div ui-view></div>
</div>

